*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

address {
  font-style: normal;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white);
}

::selection {
  background: var(--primary-color);
  color: var(--white);
}

html {
  font-size: 1rem;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
@media screen and (min-width: 20rem) {
  html {
    font-size: calc(1rem + 0 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  html {
    font-size: 1rem;
  }
}
html.no-scroll {
  overflow: hidden;
  position: fixed;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--body-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  line-height: var(--line-height);
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  padding: 0;
}

a:not([class]) {
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
a:not([class]):hover {
  color: var(--link-color-hover);
}
a:not([class]):active {
  color: var(--link-color-hover);
}
a:not([class]):focus {
  color: var(--link-color-hover);
}

.invert {
  color: var(--link-color-hover);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.invert:hover {
  color: var(--link-color);
}
.invert:active {
  color: var(--link-color);
}
.invert:focus {
  color: var(--link-color);
}

p,
ul,
ol,
dl {
  margin-top: 1.6rem;
}

blockquote,
figure,
hr {
  margin-bottom: 2.6666666667rem;
}
blockquote:not(:first-child),
figure:not(:first-child),
hr:not(:first-child) {
  margin-top: 2.6666666667rem;
}

pre,
table {
  margin-top: 1.6rem;
  margin-bottom: 2.1333333333rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-variation-settings: "wght" var(--headings-weight);
  line-height: 1.3;
  text-transform: var(--headings-transform);
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 3.2rem;
}

h1,
.h1 {
  line-height: 1.2;
  font-size: 2.2806973457rem;
}
@media screen and (min-width: 20rem) {
  h1,
  .h1 {
    font-size: calc(2.2806973457rem + 1.3725388079 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  h1,
  .h1 {
    font-size: 3.6532361537rem;
  }
}

h2,
.h2 {
  font-size: 1.6018066406rem;
}
@media screen and (min-width: 20rem) {
  h2,
  .h2 {
    font-size: calc(1.6018066406rem + 0.9639778733 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  h2,
  .h2 {
    font-size: 2.565784514rem;
  }
}

h3,
.h3 {
  font-size: 1.423828125rem;
}
@media screen and (min-width: 20rem) {
  h3,
  .h3 {
    font-size: calc(1.423828125rem + 0.6034584045 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  h3,
  .h3 {
    font-size: 2.0272865295rem;
  }
}

h4,
.h4 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  h4,
  .h4 {
    font-size: calc(1.125rem + 0.4768066406 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  h4,
  .h4 {
    font-size: 1.6018066406rem;
  }
}

h5,
.h5 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h5,
  .h5 {
    font-size: calc(1rem + 0.265625 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  h5,
  .h5 {
    font-size: 1.265625rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h6,
  .h6 {
    font-size: calc(1rem + 0 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  h6,
  .h6 {
    font-size: 1rem;
  }
}

h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0.8rem;
}

b,
strong {
  font-variation-settings: "wght" var(--font-weight-bold);
}

blockquote {
  font-family: var(--heading-font);
  padding: 3.2rem 0 2.1333333333rem;
  position: relative;
  text-align: center;
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  blockquote {
    font-size: calc(1.265625rem + 0.5364074707 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  blockquote {
    font-size: 1.8020324707rem;
  }
}
@media all and (min-width: 37.5em) {
  blockquote {
    padding: 3.7333333333rem 2rem 2.1333333333rem;
  }
}
blockquote::before {
  color: var(--primary-color);
  content: "“";
  font: var(--font-weight-normal) 280%/0.9 Georgia, Times, Times New Roman, serif;
  top: 0.8rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
blockquote + figcaption {
  margin-top: -2.6666666667rem;
}
blockquote > :nth-child(1) {
  margin-top: 0;
}

ul,
ol {
  margin-left: 2rem;
}
ul > li,
ol > li {
  list-style: inherit;
  padding: 0 0 0.5333333333rem 0.5333333333rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0.5333333333rem;
  margin-top: 0.5333333333rem;
}

dl dt {
  font-variation-settings: "wght" var(--font-weight-bold);
}

pre {
  background-color: var(--lighter);
  font-size: 1rem;
  padding: 1.6rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre > code {
  color: var(--text-color);
  display: inline-block;
  font-size: inherit;
}

code {
  background-color: var(--lighter);
  color: var(--link-color);
  font-family: monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
table th {
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 0.6666666667rem 0;
}
table td {
  padding: 0.6666666667rem 0;
}

.table-striped {
  border: 1px solid var(--border-color-light);
}
.table-striped tr:nth-child(2n) {
  background: var(--lighter);
}
.table-striped th {
  padding: 0.6666666667rem 1.0666666667rem;
}
.table-striped td {
  border-top: 1px solid var(--border-color-light);
  padding: 0.6666666667rem 1.0666666667rem;
}
.table-bordered {
  border: 1px solid var(--border-color-light);
}
.table-bordered th,
.table-bordered td {
  border: 1px solid var(--border-color-light);
  padding: 0.6666666667rem 1.0666666667rem;
}
.table-title {
  border: 1px solid var(--border-color-light);
}
.table-title th {
  background: var(--lighter);
  padding: 0.6666666667rem 1.0666666667rem;
}
.table-title td {
  border-top: 1px solid var(--border-color-light);
  padding: 0.6666666667rem 1.0666666667rem;
}

figcaption {
  color: var(--text-color-lighter);
  font-variation-settings: "wght" var(--font-weight-normal);
  font-size: 0.8888888889rem;
  margin-top: 0.8rem;
  text-align: center;
}

kbd {
  background: var(--secondary-color);
  border-radius: 2px;
  color: var(--white);
  font-family: monospace;
  font-size: 0.8888em;
  padding: 0.1333333333rem 0.4rem;
}

sub,
sup {
  font-size: 50%;
}

sup {
  vertical-align: top;
}

small {
  font-size: 0.7901234568rem;
}

hr,
.separator {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}
hr::before,
.separator::before {
  content: "···";
  color: var(--secondary-color);
  font-size: 1.423828125rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  letter-spacing: 1.265625rem;
  padding-left: 1.265625rem;
}

.separator--dot::before {
  content: "·";
  color: var(--secondary-color);
  font-size: 1.423828125rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  letter-spacing: 1.265625rem;
  padding-left: 1.265625rem;
}
.separator--long-line {
  position: relative;
}
.separator--long-line::before {
  content: "";
  height: 1.423828125rem;
}
.separator--long-line::after {
  border-top: 1px solid var(--border-color-light);
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.btn, [type=button],
[type=submit],
button {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(var(--black-rgb), 0.1), 0 1px 1px rgba(var(--black-rgb), 0.08);
          box-shadow: 0 4px 6px rgba(var(--black-rgb), 0.1), 0 1px 1px rgba(var(--black-rgb), 0.08);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--body-font);
  font-size: 1rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 0.6666666667rem 1.6rem;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
  vertical-align: top;
  will-change: transform;
}
@media all and (max-width: 19.9375em) {
  .btn, [type=button],
  [type=submit],
  button {
    width: 100%;
  }
}
@media all and (max-width: 37.4375em) {
  .btn, [type=button],
  [type=submit],
  button {
    margin-bottom: 0.5333333333rem;
  }
}
.btn:hover, [type=button]:hover,
[type=submit]:hover,
button:hover, .btn:active, [type=button]:active,
[type=submit]:active,
button:active, .btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  -webkit-box-shadow: 0 7px 14px rgba(var(--black-rgb), 0.1), 0 3px 6px rgba(var(--black-rgb), 0.08);
          box-shadow: 0 7px 14px rgba(var(--black-rgb), 0.1), 0 3px 6px rgba(var(--black-rgb), 0.08);
  color: var(--white);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  text-decoration: none;
}
@media all and (min-width: 20em) {
  .btn + .btn, [type=button] + .btn,
  [type=submit] + .btn,
  button + .btn, .btn + [type=button], [type=button] + [type=button],
  [type=submit] + [type=button],
  button + [type=button],
  .btn + [type=submit],
  [type=button] + [type=submit],
  [type=submit] + [type=submit],
  button + [type=submit],
  .btn + button,
  [type=button] + button,
  [type=submit] + button,
  button + button {
    margin-left: 0.5333333333rem;
  }
}
.btn--white {
  background: var(--white);
  border-color: var(--white);
  color: var(--secondary-color) !important;
}
.btn--yellow {
  background: var(--yellow);
  border-color: var(--yellow);
  color: var(--white) !important;
}
.btn--green {
  background: var(--green);
  border-color: var(--green);
  color: var(--white) !important;
}
.btn--gray {
  background: var(--gray);
  border-color: var(--gray);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--white) !important;
}
.btn--color {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white) !important;
}
.btn--outline {
  background: none;
  border: 1px solid var(--border-color-dark);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--secondary-color);
}
.btn--outline:hover, .btn--outline:active, .btn--outline:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--secondary-color);
}
.btn--clean {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--secondary-color) !important;
}
.btn--clean:hover, .btn--clean:active, .btn--clean:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--secondary-color);
}
.btn:disabled, [type=button]:disabled,
[type=submit]:disabled,
button:disabled {
  cursor: not-allowed;
}
.btn > svg, [type=button] > svg,
[type=submit] > svg,
button > svg {
  vertical-align: middle;
  margin-right: 0.2666666667rem;
}

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--text-color-lighter);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--text-color-lighter);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--text-color-lighter);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--text-color-lighter);
  opacity: 1;
}

::placeholder {
  color: var(--text-color-lighter);
  opacity: 1;
}

fieldset {
  border: 1px solid var(--border-color);
  margin: 0 0 1.6rem;
  padding: 1.6rem;
}
fieldset > legend {
  margin-left: -1rem;
  padding: 0 1rem;
}

legend {
  font-variation-settings: "wght" var(--font-weight-bold);
}

label {
  font-variation-settings: "wght" var(--font-weight-bold);
  margin: 0 1.0666666667rem 0.8rem 0;
}

option {
  font-variation-settings: "wght" var(--font-weight-normal);
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0;
  color: var(--text-color);
  font-size: 1rem;
  outline: none;
  padding: 0.4rem 0.8rem;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media all and (min-width: 20em) {
  [type=text],
  [type=url],
  [type=tel],
  [type=number],
  [type=email],
  [type=search],
  textarea,
  select {
    width: auto;
  }
}
[type=text]:focus,
[type=url]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=email]:focus,
[type=search]:focus,
textarea:focus,
select:focus {
  color: var(--text-color);
  border-color: var(--border-color-dark);
}
[type=text]:focus::-webkit-input-placeholder, [type=url]:focus::-webkit-input-placeholder, [type=tel]:focus::-webkit-input-placeholder, [type=number]:focus::-webkit-input-placeholder, [type=email]:focus::-webkit-input-placeholder, [type=search]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus::-moz-placeholder, [type=url]:focus::-moz-placeholder, [type=tel]:focus::-moz-placeholder, [type=number]:focus::-moz-placeholder, [type=email]:focus::-moz-placeholder, [type=search]:focus::-moz-placeholder, textarea:focus::-moz-placeholder, select:focus::-moz-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus:-ms-input-placeholder, [type=url]:focus:-ms-input-placeholder, [type=tel]:focus:-ms-input-placeholder, [type=number]:focus:-ms-input-placeholder, [type=email]:focus:-ms-input-placeholder, [type=search]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus::-ms-input-placeholder, [type=url]:focus::-ms-input-placeholder, [type=tel]:focus::-ms-input-placeholder, [type=number]:focus::-ms-input-placeholder, [type=email]:focus::-ms-input-placeholder, [type=search]:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder, select:focus::-ms-input-placeholder {
  color: var(--text-color) !important;
}
[type=text]:focus::placeholder,
[type=url]:focus::placeholder,
[type=tel]:focus::placeholder,
[type=number]:focus::placeholder,
[type=email]:focus::placeholder,
[type=search]:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
  color: var(--text-color) !important;
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: block;
  font-variation-settings: "wght" var(--font-weight-normal);
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  padding: 0 0 0 2.4rem;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.3333333333rem;
  left: 0;
  line-height: 1.3333333333rem;
  margin-right: 0.8rem;
  position: absolute;
  text-align: center;
  top: 0.2666666667rem;
  width: 1.3333333333rem;
}
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  background-image: none !important;
  content: "";
  border-color: var(--border-color-dark);
}
input[type=checkbox]:checked + label::after,
input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 6px;
  height: 9px;
  border: solid var(--border-color-dark);
  border-width: 0 2px 2px 0;
  left: 0.2933333333rem;
  position: absolute;
  top: 0.8rem;
  -webkit-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

select {
  max-width: 100%;
  width: auto;
  position: relative;
}
select:not([multiple]) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%23101010"/></svg>') no-repeat 90% 50%;
  background-size: 8px;
  padding-right: 3.2rem;
}

select[multiple] {
  padding: 1.6rem;
  width: 100%;
}
select[multiple]:hover {
  border-color: var(--border-color);
}
select[multiple]:focus {
  border-color: var(--border-color-dark);
}
select[multiple]:focus option:checked {
  background: var(--dark) -webkit-gradient(linear, left bottom, left top, from(var(--dark)), to(var(--dark)));
  background: var(--dark) linear-gradient(0deg, var(--dark) 0%, var(--dark) 100%);
}
select[multiple]:disabled {
  cursor: not-allowed;
}
select[multiple]:disabled:hover {
  border-color: var(--border-color);
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}

/* Wrapper + Header ------------------------ */
.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 5rem;
  opacity: 1;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 99;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media all and (min-width: 56.25em) {
  .header {
    height: 7rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header.is-visible {
  background: var(--background);
  border: none;
  opacity: 1;
  position: fixed;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s;
  transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
}
.header.is-visible::after {
  -webkit-box-shadow: 0 3px 10px 0 rgba(var(--black-rgb), 0.06);
          box-shadow: 0 3px 10px 0 rgba(var(--black-rgb), 0.06);
  content: "";
  height: 100%;
  position: absolute;
  left: calc(50% - 50vw);
  right: calc(50% - 50vw);
}
@media all and (min-width: 56.25em) {
  .header.is-hidden {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
    transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
    transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
    transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
  }
}
.header__reservation {
  letter-spacing: 0.1rem;
  margin-left: auto;
  text-transform: uppercase;
  z-index: 98;
}
.header__reservation > svg {
  vertical-align: middle;
}
.header__reservation > span {
  margin-left: 0.5333333333rem;
}
@media all and (max-width: 56.1875em) {
  .header__reservation > span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
.header__reservation--url {
  letter-spacing: normal;
}
.header__logo {
  -ms-grid-column: 2;
  grid-column: 2;
  position: relative;
  z-index: 98;
}

.logo {
  color: var(--logo-color) !important;
  border: 2px solid var(--border-color-darkest);
  font-family: var(--logo-font);
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 0.1rem 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  .logo {
    font-size: calc(1.125rem + 0.298828125 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .logo {
    font-size: 1.423828125rem;
  }
}
.logo > img {
  max-height: 6rem;
}

.navbar {
  z-index: 998;
}
.navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 56.1875em) {
  .navbar .navbar__menu {
    display: none;
  }
}
.navbar .navbar__menu li {
  font-family: var(--menu-font);
  display: block;
  line-height: 2.6;
  font-variation-settings: "wght" var(--font-weight-normal);
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: auto;
}
.navbar .navbar__menu li a,
.navbar .navbar__menu li span[aria-haspopup=true] {
  color: var(--menu-link-color);
  display: block;
  padding: 0 0.5333333333rem;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__menu li a:active, .navbar .navbar__menu li a:focus, .navbar .navbar__menu li a:hover,
.navbar .navbar__menu li span[aria-haspopup=true]:active,
.navbar .navbar__menu li span[aria-haspopup=true]:focus,
.navbar .navbar__menu li span[aria-haspopup=true]:hover {
  color: var(--menu-link-color-hover);
}
.navbar .navbar__menu li span {
  color: var(--menu-link-color);
  cursor: default;
  display: block;
  padding: 0 0.8rem;
}
.navbar .navbar__menu > li:hover > a, .navbar .navbar__menu > li:hover > span[aria-haspopup=true] {
  color: var(--menu-link-color-hover);
}
.navbar .has-submenu:active > .navbar__submenu,
.navbar .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}
.navbar .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:hover > .navbar__submenu.is-right-submenu {
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu {
  top: 0;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu.is-right-submenu {
  top: 0;
}
.navbar .navbar__submenu {
  background: var(--dropdown-menu-bg);
  border-radius: 2px;
  -webkit-box-shadow: 0 0 6px rgba(var(--black-rgb), 0.15);
          box-shadow: 0 0 6px rgba(var(--black-rgb), 0.15);
  left: -9999px;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: 0 top;
          transform-origin: 0 top;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar .navbar__submenu__submenu {
  z-index: 2;
}
.navbar .navbar__submenu li {
  font-variation-settings: "wght" normal;
  line-height: 1.4;
  margin: 0 1.0666666667rem;
}
.navbar .navbar__submenu li a,
.navbar .navbar__submenu li span[aria-haspopup=true] {
  color: var(--dropdown-menu-link-color) !important;
  padding: 0.5333333333rem 1.0666666667rem;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__submenu li a:active, .navbar .navbar__submenu li a:focus, .navbar .navbar__submenu li a:hover,
.navbar .navbar__submenu li span[aria-haspopup=true]:active,
.navbar .navbar__submenu li span[aria-haspopup=true]:focus,
.navbar .navbar__submenu li span[aria-haspopup=true]:hover {
  color: var(--dropdown-menu-link-color-hover) !important;
}
.navbar .navbar__submenu li span {
  color: var(--dropdown-menu-link-color) !important;
  padding: 0.5333333333rem 1.0666666667rem;
}
.navbar .navbar__submenu li:hover > a, .navbar .navbar__submenu li:hover > span[aria-haspopup=true] {
  color: var(--dropdown-menu-link-color-hover) !important;
}
.navbar .navbar__toggle {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 1rem;
  position: relative;
  left: -1rem;
  text-transform: none;
  z-index: 2004;
}
@media all and (min-width: 56.25em) {
  .navbar .navbar__toggle {
    display: none;
  }
}
.navbar .navbar__toggle:hover, .navbar .navbar__toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transform: none;
          transform: none;
}
.navbar .navbar__toggle-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative;
}
.navbar .navbar__toggle-inner {
  display: block;
  top: 50%;
  text-indent: -9999999em;
}
.navbar .navbar__toggle-inner::before {
  content: "";
  display: block;
  top: -6px;
}
.navbar .navbar__toggle-inner::after {
  content: "";
  display: block;
  bottom: -6px;
}
.navbar .navbar__toggle-inner, .navbar .navbar__toggle-inner::before, .navbar .navbar__toggle-inner::after {
  width: 1.6rem;
  height: 1px;
  background-color: var(--secondary-color);
  position: absolute;
  -webkit-transition: opacity 0.14s ease-out, -webkit-transform;
  transition: opacity 0.14s ease-out, -webkit-transform;
  transition: transform, opacity 0.14s ease-out;
  transition: transform, opacity 0.14s ease-out, -webkit-transform;
}
.navbar .navbar__toggle-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle-inner::before {
  -webkit-transition: top 0.075s ease 0.12s, opacity 0.075s ease;
  transition: top 0.075s ease 0.12s, opacity 0.075s ease;
}
.navbar .navbar__toggle-inner::after {
  -webkit-transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s ease 0.12s;
  transition: top 0.075s ease, opacity 0.075s ease 0.12s;
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.navbar_mobile_overlay {
  background: var(--mobile-menu-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 5rem);
  left: 0;
  opacity: 1;
  overflow: auto;
  pointer-events: auto;
  position: fixed;
  top: 5rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1001;
}
.navbar_mobile_overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.navbar_mobile_overlay .navbar__menu {
  margin: -5rem 24px 24px;
}
.navbar_mobile_overlay .navbar__menu li {
  font-family: var(--menu-font);
  line-height: 2.6;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.navbar_mobile_overlay .navbar__menu li a,
.navbar_mobile_overlay .navbar__menu li span {
  color: var(--mobile-menu-link);
  display: block;
  padding: 0.5333333333rem;
  position: relative;
}
.navbar_mobile_overlay .navbar__menu li a:active, .navbar_mobile_overlay .navbar__menu li a:focus, .navbar_mobile_overlay .navbar__menu li a:hover,
.navbar_mobile_overlay .navbar__menu li span:active,
.navbar_mobile_overlay .navbar__menu li span:focus,
.navbar_mobile_overlay .navbar__menu li span:hover {
  color: var(--mobile-menu-link-hover);
}
.navbar_mobile_overlay .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_overlay .navbar__menu li span[aria-haspopup=true]::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--gray) transparent transparent transparent;
  left: 0.5333333333rem;
  position: relative;
  vertical-align: middle;
}
.navbar_mobile_overlay .navbar__submenu {
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_overlay .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_overlay .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_overlay .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}

.navbar_mobile_sidebar {
  background: var(--mobile-menu-bg);
  -webkit-box-shadow: 0 0 5px rgba(var(--black-rgb), 0.25);
          box-shadow: 0 0 5px rgba(var(--black-rgb), 0.25);
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 80%;
  z-index: 1001;
}
.navbar_mobile_sidebar.is-hidden {
  left: -400px;
}
.navbar_mobile_sidebar .navbar__menu {
  margin: 24px;
}
.navbar_mobile_sidebar .navbar__menu li {
  font-family: var(--menu-font);
  font-size: 16px;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.navbar_mobile_sidebar .navbar__menu li a,
.navbar_mobile_sidebar .navbar__menu li span {
  color: var(--mobile-menu-link);
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_sidebar .navbar__menu li a:active, .navbar_mobile_sidebar .navbar__menu li a:focus, .navbar_mobile_sidebar .navbar__menu li a:hover,
.navbar_mobile_sidebar .navbar__menu li span:active,
.navbar_mobile_sidebar .navbar__menu li span:focus,
.navbar_mobile_sidebar .navbar__menu li span:hover {
  color: var(--mobile-menu-link-hover);
}
.navbar_mobile_sidebar .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_sidebar .navbar__menu li span[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--gray) transparent transparent transparent;
  right: 0;
  top: 18px;
  position: absolute;
}
.navbar_mobile_sidebar .navbar__submenu {
  margin: 0 0 0 24px;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_sidebar .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_sidebar .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_sidebar .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}
.navbar_mobile_sidebar__overlay {
  background: rgba(var(--black-rgb), 0.5);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}
.navbar_mobile_sidebar__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}

.main {
  margin-top: 5rem;
  overflow: hidden;
}
@media all and (min-width: 56.25em) {
  .main {
    margin-top: 7rem;
  }
}
.main--no-overflow {
  overflow: visible;
}

.section {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  position: relative;
}
@media all and (min-width: 56.25em) {
  .section {
    padding-top: 5.3333333333rem;
    padding-bottom: 5.3333333333rem;
  }
}
.section h2 {
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  .section h2 {
    font-size: calc(1.265625rem + 0.7616615295 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .section h2 {
    font-size: 2.0272865295rem;
  }
}
.section h2 + p {
  margin-top: 1.6rem;
}
.section h3 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  .section h3 {
    font-size: calc(1.125rem + 0.140625 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .section h3 {
    font-size: 1.265625rem;
  }
}
.section h4 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  .section h4 {
    font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .section h4 {
    font-size: 1.125rem;
  }
}
.section p {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  .section p {
    font-size: calc(1rem + 0.265625 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .section p {
    font-size: 1.265625rem;
  }
}
.section--dark {
  background: var(--contrast-section-bg);
  color: var(--contrast-section-text-color);
}
.section--dark h2,
.section--dark h3,
.section--dark h4,
.section--dark h5,
.section--dark h6 {
  color: var(--contrast-section-headings-color);
}
.section--dark a:not(.btn):not([type=button]):not([type=submit]):not(button) {
  color: var(--contrast-section-link-color);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.section--dark a:not(.btn):not([type=button]):not([type=submit]):not(button):hover {
  color: var(--contrast-section-link-color-hover);
}
.section--dark a:not(.btn):not([type=button]):not([type=submit]):not(button):active {
  color: var(--contrast-section-link-color-hover);
}
.section--dark a:not(.btn):not([type=button]):not([type=submit]):not(button):focus {
  color: var(--contrast-section-link-color-hover);
}
.section--center {
  text-align: center;
}

.hero {
  background: var(--hero-bg);
  overflow: hidden;
  position: relative;
  height: calc(100vh - 5rem);
  z-index: 1;
}
@media all and (min-width: 37.5em) {
  .hero {
    height: var(--hero-height);
  }
}
.hero__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}
@media all and (min-width: 37.5em) {
  .hero__wrapper {
    height: var(--hero-height);
  }
}
.hero__inner {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 var(--page-margin);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  .hero__inner {
    font-size: calc(1rem + 0.265625 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .hero__inner {
    font-size: 1.265625rem;
  }
}
.hero__inner > * {
  color: var(--hero-text-color);
}
.hero__inner a:not([class]) {
  color: var(--hero-link-color);
  text-decoration: none;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.hero__inner a:not([class]):hover {
  color: var(--hero-link-color-hover);
}
.hero__inner a:not([class]):active {
  color: var(--hero-link-color-hover);
}
.hero__inner a:not([class]):focus {
  color: var(--hero-link-color-hover);
}
.hero__inner a:not([class]):hover {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.hero__buttons {
  margin-top: calc(1.8666666667rem + 0.5vw);
}
.hero__image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
}
.hero__image--overlay:after {
  background: rgba(var(--black-rgb), 0.37);
  content: "";
  display: block;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.hero__image > img {
  display: block;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: var(--hero-image-position);
     object-position: var(--hero-image-position);
  width: inherit;
}
.hero__image > figcaption {
  color: var(--white);
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  z-index: 2;
}
@media all and (min-width: 37.5em) {
  .hero--full {
    height: calc(100vh - 7rem);
  }
}
@media all and (min-width: 37.5em) {
  .hero--full .hero__wrapper {
    height: calc(100vh - 7rem);
  }
}

.tns-nav {
  background: rgba(255, 255, 255, 0.3);
  bottom: calc(3rem + 2vh);
  counter-reset: section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  max-width: var(--page-width);
  z-index: 3;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.tns-nav > button {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px;
  position: relative;
  height: 0;
  width: 1px;
}
.tns-nav > button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}
.tns-nav > button:hover::after {
  opacity: 1 !important;
}
.tns-nav > button::after {
  counter-increment: section;
  content: counter(section);
  top: 10px;
  opacity: 0.37;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.tns-nav-active::after {
  opacity: 1 !important;
}

.cards {
  margin: 0;
  list-style: none;
}
@media all and (min-width: 37.5em) {
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards__item {
  background: var(--cards-bg);
  height: 100vw;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
@media all and (min-width: 37.5em) {
  .cards__item {
    height: 50vw;
  }
}
.cards__item a {
  display: block;
  height: 100%;
  width: 100%;
}
.cards__item a::after {
  background: var(--cards-overlay);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.37;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: 100%;
}
.cards__item a:hover::after {
  opacity: 0.57;
}
.cards__item a:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.cards__item a img {
  display: inline-block;
  height: 100%;
  margin-top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.48s ease-out;
  transition: all 0.48s ease-out;
  width: 100%;
}
.cards__item-title {
  color: var(--white);
  margin: 0;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (min-width: 75em) {
  .cards--col3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 75em) and (min-width: 75em) {
  .cards--col3 .cards__item {
    height: 33.333vw;
  }
}
@media all and (min-width: 75em) {
  .cards--col4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 75em) and (min-width: 75em) {
  .cards--col4 .cards__item {
    height: 33.333vw;
  }
}
@media all and (min-width: 100em) {
  .cards--col4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media all and (min-width: 100em) and (min-width: 75em) {
  .cards--col4 .cards__item {
    height: 25vw;
  }
}

.food-menu__browse {
  border-color: var(--white) !important;
  color: var(--white) !important;
  margin: 1.0666666667rem 0 2.1333333333rem;
}
@media all and (min-width: 37.5em) {
  .food-menu__browse {
    margin: 4.2666666667rem 0 3.2rem;
  }
}
.food-menu__list {
  border-top: 1px solid var(--border-color-dark);
  margin: 3.2rem 0;
}
@media all and (min-width: 37.5em) {
  .food-menu__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.food-menu__list li {
  list-style: none;
  padding: 2.6666666667rem 0.5333333333rem 0rem;
}
@media all and (min-width: 37.5em) {
  .food-menu__list li {
    padding: 3.2rem 1.0666666667rem 1.0666666667rem;
  }
}
@media all and (min-width: 37.5em) {
  .food-menu__list li:nth-child(2n-1) {
    border-right: 1px solid var(--border-color-dark);
  }
}
.food-menu__list p {
  font-size: inherit;
}

.testimonials figure:first-child blockquote {
  margin-top: 0;
}
.testimonials blockquote {
  margin-top: 2.6666666667rem;
  margin-bottom: 3.2rem;
  padding: 2.1333333333rem 0 1.0666666667rem;
  position: relative;
  text-align: center;
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  .testimonials blockquote {
    font-size: calc(1.265625rem + 0.5364074707 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .testimonials blockquote {
    font-size: 1.8020324707rem;
  }
}
.testimonials blockquote::before {
  content: none;
}
.testimonials figcaption {
  color: var(--text-color);
  font-size: 1rem;
}

.testimonials + .footer {
  margin-top: 3.2rem;
}
@media all and (min-width: 37.5em) {
  .testimonials + .footer {
    margin-top: 4.8rem;
  }
}
.testimonials + .footer::after {
  background: var(--border-color-dark);
  content: "";
  height: 6rem;
  top: -3rem;
  width: 1px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media all and (min-width: 37.5em) {
  .testimonials + .footer::after {
    height: 8rem;
    top: -4rem;
  }
}

.post:not(.post--divided) {
  margin-bottom: 3.2rem;
}
@media all and (min-width: 56.25em) {
  .post:not(.post--divided) {
    margin-bottom: 5.3333333333rem;
  }
}
@media all and (min-width: 56.25em) {
  .post--divided {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 56.25em) {
  .post--divided__left {
    height: 100vh;
    position: sticky;
    top: 0;
  }
}
.post--divided__right {
  overflow: hidden;
  padding: var(--page-margin);
}
@media all and (min-width: 56.25em) {
  .post--divided__right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 20% 15%;
  }
}
.post--divided__featured-image {
  background-color: var(--lighter);
  height: 100%;
  position: relative;
}
.post--divided__featured-image > img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.post--divided__featured-image > figcaption {
  background: var(--secondary-color);
  border-radius: 2px;
  bottom: var(--page-margin);
  color: var(--light);
  margin: 0;
  position: absolute;
  padding: 0.2666666667rem 0.5333333333rem;
  right: var(--page-margin);
}
.post--divided__header {
  margin: 0 auto;
  max-width: var(--entry-width);
}
@media all and (min-width: 56.25em) {
  .post--divided .post__image--wide {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.post--divided .post__image--wide a,
.post--divided .post__image--wide img {
  height: auto;
  width: 100%;
}
.post--divided .post__image--full {
  margin-left: calc(-25vw + 50%);
  margin-right: calc(-25vw + 50%);
  text-align: center;
}
.post--divided .post__image--full a,
.post--divided .post__image--full img {
  height: auto;
  width: 50vw;
}
.post__inner {
  margin: 0 auto 2.1333333333rem;
  max-width: var(--entry-width);
  position: relative;
}
.post__header {
  margin-bottom: 2.1333333333rem;
  padding-top: 1.6rem;
  text-align: center;
}
.post__featured-image {
  background-color: var(--lighter);
  position: relative;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.post__featured-image > img {
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
}
@media all and (min-width: 56.25em) {
  .post__featured-image > img {
    height: var(--hero-height);
  }
}
.post__featured-image > figcaption {
  background: var(--background);
  margin: 0;
  padding-top: 0.8rem;
}
.post__featured-image + .post__header {
  padding-top: 0;
}
.post__meta {
  margin-top: 1.0666666667rem;
}
.post__meta-author {
  display: inline-block;
  margin-right: 1.0666666667rem;
}
.post__meta-author > img {
  border-radius: 50%;
  height: 2rem;
  display: inline-block;
  margin-right: 0.2666666667rem;
  vertical-align: middle;
  width: 2rem;
}
.post__meta-date {
  color: var(--text-color-lighter);
}
.post__image {
  display: inline-block;
}
.post__image > img {
  display: inline-block;
}
.post__image--left {
  float: left;
  margin-right: 2.1333333333rem;
  max-width: 50%;
}
.post__image--right {
  float: right;
  margin-left: 2.1333333333rem;
  max-width: 50%;
}
.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post__image--wide {
  display: block;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align: center;
}
.post__image--wide a,
.post__image--wide img {
  height: auto;
  max-width: var(--page-width);
  width: 100%;
}
.post__image--full {
  display: block;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align: center;
}
.post__image--full a,
.post__image--full img {
  display: block;
  height: auto;
  width: 100%;
}
.post__entry {
  margin-top: 2.6666666667rem;
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  .post__entry {
    font-size: calc(1.125rem + 0.140625 * ((100vw - 20rem) / 100));
  }
}
@media screen and (min-width: 120rem) {
  .post__entry {
    font-size: 1.265625rem;
  }
}
@media all and (min-width: 56.25em) {
  .post__entry {
    margin-top: 3.2rem;
  }
}
.post__entry > :nth-child(1) {
  margin-top: 0;
}
.post__entry a:not(.btn):not([type=button]):not([type=submit]):not(button) {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: 1.6rem;
  margin-bottom: 2.1333333333rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.post__video::before, .post__iframe::before {
  display: block;
  content: "";
  padding-top: var(--embed-aspect-ratio);
}
.post__video iframe, .post__video video, .post__iframe iframe, .post__iframe video {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0.5333333333rem 0 0 2ch;
}
.post__toc ul li {
  counter-increment: item;
  padding: 0;
}
.post__toc ul ul {
  margin-top: 0;
}
.post__toc ul ul li {
  display: block;
}
.post__toc ul ul li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}
.post-desc {
  margin-top: 0.8rem;
}
.post__aside {
  margin-top: 1.6rem;
}
@media all and (min-width: 37.5em) {
  .post__aside {
    float: right;
    margin: 1.6rem 0 1.6rem 3.2rem;
    max-width: 40%;
    position: relative;
    z-index: 1;
  }
}
.post__aside > :nth-child(1) {
  margin: 0;
}
@media all and (min-width: 37.5em) {
  .post__aside--left {
    float: left;
    margin: 1.6rem 3.2rem 1.6rem 0;
  }
}
.post__updated {
  color: var(--text-color-lighter);
}
.post__share {
  margin: 2.1333333333rem 0 0;
}
.post__share > a {
  margin-left: 0.8rem;
}
.post__tag {
  list-style: none;
  margin: 2.1333333333rem 0 0;
}
.post__tag li {
  display: inline-block;
  font-size: 0.7023319616rem;
  margin-bottom: 0.5333333333rem;
  margin-right: 0.5333333333rem;
  padding: 0;
  text-transform: uppercase;
  font-variation-settings: "wght" var(--font-weight-bold);
  letter-spacing: 0.1rem;
}
.post__tag li > a {
  border-bottom: 1px solid var(--border-color-light);
  padding: 0.5333333333rem;
}
.post__related {
  margin-top: 4.2666666667rem;
  text-align: center;
}
@media all and (min-width: 56.25em) {
  .post__related {
    margin-top: 6.9333333333rem;
  }
}
.post__related-feed {
  display: -ms-grid;
  display: grid;
  grid-gap: 2.6666666667rem;
  margin-top: 2.1333333333rem;
}
@media all and (min-width: 37.5em) {
  .post__related-feed {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2.6666666667rem 1.6rem;
  }
}
.post__related-item {
  position: relative;
}
.post__related-item > h3 {
  margin-top: 1.6rem;
}
.post__related-image {
  background-color: var(--lighter);
  display: block;
  height: 16rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.post__related-image::after {
  background: var(--cards-overlay);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.37;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: 100%;
}
.post__related-image:hover::after {
  opacity: 0.57;
}
.post__related-image:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.post__related-image > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  -webkit-transition: all 0.48s ease-out;
  transition: all 0.48s ease-out;
  width: 100%;
}
.post__comments {
  margin-top: 3.2rem;
  text-align: center;
}
@media all and (min-width: 56.25em) {
  .post__comments {
    margin-top: 5.3333333333rem;
  }
}
.post__comments-button.is-hidden {
  display: none;
}
.post__comments-inner {
  text-align: left;
}
.post__comments-inner--hidden {
  display: none;
}
.post__comments-inner.is-visible {
  display: block;
}
.post__comments h3 {
  margin-bottom: 2.1333333333rem;
  text-align: center;
}

.bottom-news__inner {
  border-top: 1px solid var(--border-color-light);
  text-align: center;
}
.bottom-news__inner h2 {
  margin: 0 0 2.1333333333rem;
  padding-top: 2.1333333333rem;
}
.bottom-news__inner h2 svg {
  display: inline-block;
  margin-right: 0.5333333333rem;
  vertical-align: middle;
}
.bottom-news__inner p {
  margin: 0;
}
.bottom-news__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  margin: 0;
  min-height: 150px;
  overflow: hidden;
}
@media all and (min-width: 37.5em) {
  .bottom-news__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 75em) {
  .bottom-news__container {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.bottom-news__container li {
  list-style: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  display: block;
  width: 100%;
}
@media all and (min-width: 37.5em) {
  .bottom-news__container li {
    height: 50vw;
  }
}
@media all and (min-width: 56.25em) {
  .bottom-news__container li {
    height: 33.333vw;
  }
}
@media all and (min-width: 75em) {
  .bottom-news__container li {
    height: 25vw;
  }
}
.bottom-news__container li > img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  width: 100%;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.bottom-news__container li:hover .bottom-news__title span {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bottom-news__container li:hover > img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.bottom-news__title a::after {
  background: var(--dark);
  content: "";
  display: block;
  opacity: 0.37;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: 100%;
}
.bottom-news__title a:hover::after {
  opacity: 0.57;
}
.bottom-news__title a span {
  color: var(--white);
  left: 50%;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
@media all and (min-width: 56.25em) {
  .bottom-news__title a span {
    opacity: 0;
    top: 55%;
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
}

.page {
  margin-top: 1.6rem;
}
.page__title {
  margin-bottom: 2.6666666667rem;
  text-align: center;
}
.page__title > span {
  color: var(--text-color-lighter);
  display: block;
}
.page__title h1 {
  margin: 0;
}
.page--author__avatar {
  border-radius: 50%;
  height: 2.4rem;
  margin-bottom: 0.8rem;
  width: 2.4rem;
}
@media all and (min-width: 37.5em) {
  .page--author__avatar {
    height: 3.4rem;
    width: 3.4rem;
  }
}
.page--author__website {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1;
  margin-top: 1.6rem;
}
.page--author__website a {
  margin-left: 0.4rem;
}

.menu td {
  padding: 0.5333333333rem 0 1.0666666667rem;
}
.menu td h3 {
  font-size: 1.265625rem;
  margin: 0.2666666667rem 0;
}
.menu td p {
  margin: 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.line-separator {
  border-bottom: 1px solid var(--border-color-light);
  padding-bottom: 0.5333333333rem;
}

.ordered-list {
  counter-reset: listCounter;
}
.ordered-list li {
  counter-increment: listCounter;
  list-style: none;
  position: relative;
}
.ordered-list li::before {
  content: counter(listCounter, decimal-leading-zero) ".";
  font-variation-settings: "wght" var(--font-weight-bold);
  left: -2rem;
  position: absolute;
}

.msg {
  background-color: var(--lighter);
  border-left: 4px solid transparent;
  padding: 1.0666666667rem 2.1333333333rem;
}
.msg--highlight {
  border-color: var(--yellow);
}
.msg--info {
  border-color: var(--blue);
}
.msg--success {
  border-color: var(--green);
}
.msg--warning {
  border-color: var(--red);
}

.dropcap:first-letter {
  color: var(--headings-color);
  float: left;
  font-size: 4.623627007rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  line-height: 1;
  margin-right: 0.5333333333rem;
  padding: 0.5333333333rem 0.5333333333rem 0 0;
}

.pec-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.pec-overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--light);
  font-size: 14px;
  display: none;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.4;
  padding: 1rem;
  position: relative;
  text-align: center;
}
@media all and (min-width: 37.5em) {
  .pec-overlay {
    font-size: 16px;
    line-height: var(--line-height);
    padding: 1rem 2rem;
  }
}
.pec-overlay.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pec-overlay-inner p {
  margin: 0 0 1rem;
}

.pagination {
  padding: 1.0666666667rem 0 0.5333333333rem;
  text-align: center;
}
@media all and (min-width: 37.5em) {
  .pagination {
    padding: 1.6rem 0;
  }
}
@media all and (min-width: 20em) {
  .pagination > a + a {
    margin-left: 0.5333333333rem;
  }
}
.pagination--numbered ul {
  margin: 0;
}
.pagination--numbered ul li {
  color: var(--text-color-lighter);
  display: inline-block;
  margin: 0 0.2666666667rem;
  padding: 0;
  text-transform: uppercase;
}
.pagination--numbered ul li a,
.pagination--numbered ul li strong {
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--link-color-hover);
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 0.6666666667rem 1.6rem;
}
.pagination--numbered ul li a:hover,
.pagination--numbered ul li strong:hover {
  border: 1px solid var(--border-color-dark);
  color: var(--link-color);
}
.pagination--numbered ul li strong {
  border: 1px solid var(--border-color-dark);
  color: var(--link-color-hover);
}

.newsletter-popup {
  background: var(--newsletter-overlay);
  opacity: 0;
  position: fixed;
  z-index: 1000;
}
@media all and (min-height: 0em) and (max-height: 48.0625em) {
  .newsletter-popup {
    display: none;
  }
}
@media all and (min-width: 37.5em) {
  .newsletter-popup {
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
  }
}
.newsletter-popup.is-visible {
  opacity: 1;
  visibility: visible;
}
.newsletter-popup__inner {
  background: var(--white);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px rgba(var(--black-rgb), 0.08);
          box-shadow: 0 0 30px rgba(var(--black-rgb), 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  overflow: hidden;
  width: 100%;
  max-width: 46rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.newsletter-popup__left {
  background-color: var(--lighter);
  border-radius: 4px 0 0 4px;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 40%;
}
.newsletter-popup__left > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.newsletter-popup__right {
  padding: 2.6666666667rem;
}
@media all and (min-width: 56.25em) {
  .newsletter-popup__right {
    padding: 3.7333333333rem;
  }
}
.newsletter-popup__right.is-image {
  margin-left: 40%;
}
.newsletter-popup__close {
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
  color: var(--secondary-color);
  font-size: 1.423828125rem;
  font-variation-settings: "wght" var(--font-weight-normal);
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.newsletter-popup__close:hover {
  color: var(--red);
  -webkit-transform: translate(0);
          transform: translate(0);
}
@media all and (min-width: 37.5em) {
  .newsletter-popup form {
    font-size: 1rem;
  }
}
.newsletter-popup h3 {
  margin-top: 0;
}
.newsletter-popup p {
  margin: 0.5333333333rem 0 1.0666666667rem;
}
.newsletter-popup input[type=email],
.newsletter-popup input[type=text] {
  margin-top: 0.5333333333rem;
  width: 100%;
}
.newsletter-popup__agree {
  margin: 1.3333333333rem 0 1.3333333333rem;
  text-align: left;
}
.newsletter-popup__agree li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}
.newsletter-popup__agree li label {
  margin-right: 0;
}
.newsletter-popup__submit {
  width: 100%;
}

.footer {
  padding: 0;
  position: relative;
}
.footer__overlay {
  background: var(--contrast-section-bg);
  padding: calc(var(--magic-number) * 3) var(--page-margin) calc(var(--magic-number) * 2);
  position: relative;
}
@media all and (min-width: 37.5em) {
  .footer__overlay {
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 50%;
    padding-top: calc(var(--magic-number) * 4);
  }
  .footer__overlay > div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; /*  fix for IE and Safari */
  }
}
@media all and (min-width: 37.5em) {
  .footer__overlay h3:not(:first-child) {
    margin-top: calc(var(--magic-number) * 3);
  }
}
.footer__map {
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
}
.footer__social {
  margin-top: 4.2666666667rem;
}
@media all and (min-width: 37.5em) {
  .footer__social {
    margin-top: calc(var(--magic-number) * 8);
  }
}
.footer__social a {
  display: inline-block;
  margin: 0 0.4rem;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
  will-change: transform;
}
.footer__social a > svg {
  display: inline-block;
  fill: var(--contrast-section-text-color);
  height: 1.1rem;
  pointer-events: none;
  -webkit-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 1.1rem;
}
.footer__social a:hover {
  text-decoration: none;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.footer__social a:hover > svg {
  fill: var(--white);
}
.footer__copy {
  margin-top: 1.0666666667rem;
}
.footer__bttop {
  bottom: 1.3333333333rem;
  border-radius: 50%;
  line-height: 1;
  opacity: 0;
  padding: 0.48rem;
  position: fixed;
  right: 2rem;
  text-align: center;
  width: auto !important;
  visibility: hidden;
  z-index: 999;
}
@media all and (min-width: 56.25em) {
  .footer__bttop {
    bottom: 2.6666666667rem;
  }
}
.footer__bttop:hover {
  opacity: 1;
}
.footer__bttop > svg {
  fill: var(--white);
  height: 23px;
  margin: 0;
  width: 23px;
}
.footer__bttop.is-visible {
  visibility: visible;
  opacity: 1;
}

.gallery {
  margin: calc(2.1333333333rem + 0.25vw) -0.2666666667rem;
}
@media all and (min-width: 20em) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.gallery-wrapper--wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
.gallery-wrapper--wide .gallery {
  max-width: calc(var(--page-width) + 0.5333333333rem);
  width: 100%;
}
.gallery-wrapper--full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.gallery-wrapper--full .gallery {
  width: calc(100% + 0.5333333333rem);
}
@media all and (min-width: 20em) {
  .gallery[data-columns="1"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
@media all and (min-width: 30em) {
  .gallery[data-columns="2"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery[data-columns="3"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="4"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="5"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="6"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.666%;
            flex: 0 1 16.666%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="7"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 14.285%;
            flex: 1 0 14.285%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="8"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 12.5%;
            flex: 1 0 12.5%;
  }
}
.gallery__item {
  margin: 0 !important;
  padding: 0.2666666667rem;
  position: relative;
}
@media all and (min-width: 20em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 30em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.gallery__item a {
  display: block;
  height: 100%;
  width: 100%;
}
.gallery__item a::after {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--dark)), to(transparent));
  background: linear-gradient(to top, var(--dark), transparent);
  bottom: 0.2666666667rem;
  content: "";
  display: block;
  opacity: 0;
  left: 0.2666666667rem;
  height: calc(100% - 0.5333333333rem);
  position: absolute;
  right: 0.2666666667rem;
  top: 0.2666666667rem;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: calc(100% - 0.5333333333rem);
}
.gallery__item a:hover::after {
  opacity: 0.4;
}
.gallery__item img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery__item figcaption {
  bottom: 1.2rem;
  color: var(--white);
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 1.2rem);
          transform: translate(-50%, 1.2rem);
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.gallery__item:hover figcaption {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pswp--dark .pswp__bg {
  background: var(--black);
}
.pswp--light .pswp__bg {
  background: var(--white);
}
.pswp--light .pswp__counter {
  color: var(--black);
}
.pswp--light .pswp__caption__center {
  color: var(--text-color-lighter);
}